.peep-form {
    padding: 16px;
    background-color: white;
    /* width: 598px; */
}

.peep-input {
    display: flex;
    align-items: flex-start;
    padding-bottom: 16px;
}

.user-image {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 12px;
}

textarea {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    line-height: 1.5;
    resize: none;
    width: 530px;
}

.peep-icons {
    display: flex;
    gap: 16px;
    margin-right: 16px;
    color: #1da1f2;
    ;
}

input[type="submit"] {
    background-color: #1da1f2;
    color: white;
    border: none;
    border-radius: 99999px;
    padding: 10px 30px;
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"]:disabled {
    opacity: .5;
    cursor: not-allowed;
}